.idea/
__pycache__/
*.pyc
*.pyo
*.swp
build/
dist/
.DS_Store
*~
/tests/fixtures/date_adjustment/*output.csv
/tests/*output.csv
/tests/editing/thousand_pounds/example_data/*output.csv
/tests/editing/totals_and_components/example_data/*output.csv
/tests/editing/thousand_pounds/example_data/uat/*output.csv
/tests/editing/totals_and_components/example_data/uat/*output.csv
/tests/editing/uat-testing/tcc_test_data_processed
/tests/editing/uat-testing/tpc_test_data_processed
.venv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
junit.xml

# pyenv
.python-version
