[tool.poetry]
name = "sml_small"
version = "1.0.0"
description = "SML Small (Python Pandas methods)"
authors = []

[tool.poetry.dependencies]
python = "^3.7.1"
pandas = "^1.3.5"

[tool.poetry.dev-dependencies]
flake8 = "^5.0.4"
isort = "^5.11.5"
pytest = "^7.3.1"
coverage = "^7.0"
pytest-cov = "^4.0.0"
pytest-dependency = "^0.5.1"
pytest-tap = "^3.3"

[tool.pytest.ini_options]
junit_test_suite_name = "sml_small"
addopts = "--exitfirst --cov=sml_small --cov-fail-under=90"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
