[tool.poetry]
name = "sml_small"
version = "1.0.0"
description = "SML Small (Python Pandas methods)"
authors = []

[tool.poetry.dependencies]
python = "^3.7.1"
pandas = "^1.3.5"

[tool.poetry.dev-dependencies]
flake8 = "^5.0.4"
isort = "^5.11.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 160