{% extends "layout/_template.njk" %}
{% from "components/related-content/_macro.njk" import onsRelatedContent %}
{% from "components/related-content/_section-macro.njk" import onsRelatedContentSection %}
{%- set sidebarCols = 8 -%}
{%- if page_title -%} {%- set page_title_value = page_title + ' - Sml Python Small Library Reference - Office for National Statistics' -%} {%- else -%} {%- set page_title_value = 'Sml Python Small Library Reference - Office for National Statistics' -%} {%- endif -%}

{% set pageConfig = {
    "meta": {
        "canonicalUrl": "/",
        "description": "/",
    },

    "title": page_title_value,
    "header": {
        "title": 'Sml Python Small Library Reference',
        "orgLogoHref": 'https://www.ons.gov.uk',
        "titleLogoHref": "/",
        "mastheadLogo": "/",
        "titleLogo": "/",
    },
    "pageColNumber": "12",
    "sidebarColNumber": sidebarCols if sidebarCols else 12,
    "mainClasses": "ons-u-mt-m",
    "breadcrumbs": breadcrumbs,
    "footer": {
      "OGLLink": true,
      "legal": [

      ]
    },
  }
 %}
{%- block htmltitle %}
    <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
{%- endblock %}

{%- block site_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page and page.is_homepage %}<meta name="description" content="{{ config['site_description'] }}">{% endif %}
    {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
    {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
{%- endblock %}

{% block main %}
    <div class="ons-container">
        <div class="ons-grid ons-grid--column">
            <div class="ons-grid__col ons-col-{{ pageConfig.sidebarColNumber }}@m">
                {% block mainContent %}
                    {% include "/modules/content.html" %}
                {% endblock mainContent %}
            </div>
                {% block sidebar %}
                <div class="ons-grid__col ons-col-{{ 12 - pageConfig.sidebarColNumber }}@m ons-u-mt-l ons-u-mb-l ons-push-1@m">
                    {% block sidebarContent -%}
                        {% include "/modules/sidebar.html" %}
                    {%- endblock sidebarContent %}
                </div>
                {% endblock sidebar %}
        </div>
    </div>
{% endblock main %}