{% extends "base.html" %}

<!DOCTYPE html>
<html lang="{{ config.theme.locale|default('en') }}">
      {%- block site_meta %}
      {%- endblock %}

      {%- block htmltitle %}
      {%- endblock %}

      {%- block styles %}
      {%- endblock %}

      {%- block libs %}
      {%- endblock %}

      {%- block analytics %}
      {%- endblock %}

      {%- block extrahead %} {% endblock %}

    <body{% if page and page.is_homepage %} class="homepage"{% endif %}>
            <div class="container">
                {%- block site_name %}
                {% endblock %}
                  {%- block site_nav %}
                  {%- endblock %}
                      {%- block search_button %}
                      {%- endblock %}
                      {%- block next_prev %}
                      {%- endblock %}
                      {%- block repo %}
                      {%- endblock %}

            </div>

        <div class="container">
            <div class="row">
                {%- block content %}
                    <div class="col-md-9" role="main">{% include "modules/content.html" %}</div>
                {%- endblock %}
            </div>
        </div>
          {%- block footer %}
          {%- endblock %}

      {%- block scripts %}
      {%- endblock %}
    </body>
</html>