name: CI Checks

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]
      fail-fast: false 
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.11
      - name: Install dependencies
        run: poetry install
      - name: build
        run: poetry build
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]
      fail-fast: false 
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.11
      - name: Install dependencies
        run: poetry install
      - name: test
        run: cd tests && poetry run pytest --tap-stream --cov-report=html --junitxml=junit.xml
      - name: Upload Test report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: test-results
          path: junit.xml
          reporter: java-junit
          fail-on-error: false
      - name: upload-coverage-report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: htmlcov/
          if-no-files-found: warn
  flake8:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.9 ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.1.4
        with:
          poetry-version: 1.1.12
      - name: setup netrc
        run: |-
          echo "machine github.com login ${GITHUB_PAT} password x-oauth-basic" > ~/.netrc
          chmod 600 ~/.netrc
        env:
          GITHUB_PAT: ${{ secrets.CONCOURSE_PAT }}
      - name: Install dependencies
        run: poetry install
      - name: run flake8
        run: poetry run flake8 .
  isort:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.9 ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.1.4
        with:
          poetry-version: 1.1.12
      - name: setup netrc
        run: |-
          echo "machine github.com login ${GITHUB_PAT} password x-oauth-basic" > ~/.netrc
          chmod 600 ~/.netrc
        env:
          GITHUB_PAT: ${{ secrets.CONCOURSE_PAT }}
      - name: Install dependencies
        run: poetry install
      - name: run isort
        run: poetry run isort --check-only .
